<p style="color: green"><%= notice %></p>

<% content_for :title, "Bank accounts" %>

<h1 class="leading-tighter mb-4 text-7xl font-extrabold tracking-tighter md:text-8xl">Bank accounts</h1>

<div id="bank_accounts" class='pt-32 pb-12 md:pt-40 md:pb-20'>
  <table class="table">
		<tr>
      <td>銀行名</td>
			<td>支店名</td>
			<td>口座種別</td>
			<td>口座番号</td>
			<td>口座名義</td>
      <td></td>
    </tr>
    <% @bank_accounts.each do |bank_account| %>
      <%= render bank_account %>
    <% end %>

    </table>
    
</div>

<%= link_to "New bank account", new_bank_account_path %>
